@import "tailwindcss";

@font-face {
    font-family: "Satoshi";
    src: url("./assets/Fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Regular.woff")
        format("woff");
}

@font-face {
    font-family: "Integral CF";
    src: url("./assets/Fonts/Integral-CF/Demo_Fonts/Fontspring-DEMO-integralcf-regular.otf")
        format("opentype");
}

.satoshi {
    font-family: "Satoshi", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.integral-cf {
    font-family: "Integral CF", sans-serif;
    /* font-weight: 400 900; */
    font-style: normal;
}
