@import "tailwindcss";

@font-face {
    font-family: "Satoshi";
    src: url("./assets/Fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Regular.woff")
        format("woff");
}

@font-face {
    font-family: "Integral CF";
    src: url("./assets/Fonts/Integral-CF/Demo_Fonts/Fontspring-DEMO-integralcf-regular.otf")
        format("opentype");
}

.satoshi {
    font-family: "Satoshi", sans-serif;
    /* font-weight: 400; */
    font-style: normal;
}

.integral-cf {
    font-family: "Integral CF", sans-serif;
    font-style: normal;
}

.scrollbar-w-0 {
    scrollbar-width: none;
}

.fit-section-grid {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: repeat(2, 1fr);
}
.animation-div{
    animation: carousel 5s linear 0s infinite;
}

@keyframes carousel {
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(calc(-50% + 80px));
    }
}